html {
    padding-top: 60px;
}

.navbar-default {
    background-color: #2256A6;
    border-color: #2256A6;
}

#lista {
    width:100px;
    height:50px;
    background:url(immagine.jpg);
    position:relative;
    }

#lista a{
    position:absolute;
    left:80px;
    top:20px;
}
