html {
    padding-top: 60px;
}

.navbar-default {
    background-color: #2256A6;
    border-color: #2256A6;
}

.form-group {
    margin-top: 200px;
}

.form-group1 {
    margin-top: 100px;
}

.btn {
    background-color: #2256A6;
    border-color: #2256A6;
}
